{% extends "SBfinder/base.html" %}
{% load SBfinder_extra %}

{% block content %}

<style>
    li span {
    position: relative;
    left: -4px;
    }

    .btn {
        background-color: #026670;
        color: #95edd7;
        border: 2px solid #026670;
        height: 30%;
        }
</style>
<body>

  <br><div class = "container">
    <div class = "pt-2 pb-4 font-weight-bold h1 d-flex justify-content-center">Schedule a Study Session</div>
      <hr/>

    {% include 'SBfinder/messages.html' %}


    <div class="d-flex align-items-center justify-content-center">
    <form action="{% url 'SBfinder:create_SS'%}" method="post">
        {% csrf_token %}
        <div class ="mb-3">

            <label for="SS_title" class = "form-label">Title:</label>
            <textarea class="form-control" id = "SS_title" name = "study_session_title" rows="1"></textarea><br>

            <label for="SS_description" class = "form-label">Description:</label>
            <textarea class="form-control" id = "SS_description" name = "study_session_description" rows="4"></textarea><br>

            <label for="study_session_date">Start date:</label>
            <input type="date" id="study_session_date" name="study_session_date" required>

            <label for="study_session_time">Choose a time for your meeting:</label>
            <input type="time" id="study_session_time" name="study_session_time"
            min="00:00" max="23:59" required>

            <div>
             <label class="form-check-label" for="flexSwitchCheckDefault">Who do you want to send this proposal to: </label>

            {% for friend in userInfo.friends.all %}
                <div>
                    <ul>
                    <li class = "text-capitalize"><span>{{ friend.user_name }} </span></li>
                     <div class="form-check form-switch">
                         <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name = "study_session_checks" value = "{{ friend.pk }}">
                     </div>
                    </ul>
                </div>
            {% endfor %}
            </div>
        </div>

        <hr/>
        <div class="col text-center">
            <input type="submit" value="Propose" class="btn text-center">
        </div>
        <br>
    </form>
    </div>

  </div>

</body>
{% endblock %}